body {
  background-color: rgb(197, 144, 144);
  }

  header {
    background-color: rgb(197, 144, 144);
    color: rgb(2, 2, 2);
    text-align: center;
    padding: 10px;    
  }

  footer{
    background-color: rgb(197, 144, 144);
    color: rgb(2, 2, 2);
    text-align: center;
    padding: 10px;
    margin-top: 300px;
  }

.circular--square {
    border-radius: 50%;
  }

h1 {
    font-family: verdana;
    font-size: 200%;}
h2 {color: black;}
p {color: black;}

* {box-sizing: border-box;}

.left {
    float: left;
    width: 40%;
    padding: 20px;
  }
  
.right {
    float: left;
    width: 60%;
    padding: 15px;
      }
  
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .left, .right {
      width: 100%;}}
